<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../images/logoIco.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Ofertas Exclusivas Online</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="../images/SimanLogo.png" alt="Siman Logo">
            </div>

            <input type="text" name="Buscar" class="search-box" placeholder="Buscar...">

            <div class="icon">
                <a href="#" class="user-icon"><i class="fas fa-user"></i></a>
                <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <nav class="nav-bar">
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="rebajas.html">Rebajas</a></li>
                <li><a href="exclusivo.html">Exclusivo Online</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <div class="medium-section">
            <div class="row-layout">
                <div class="text-side">
                    <h3>Ofertas exclusivas online</h3>
                    <p>Solo en línea. Solo por tiempo limitado.
                        Encuentra ofertas exclusivas disponibles únicamente en siman.com.
                    </p>
                </div>
                <div class="image-side">
                    <img src="../images/exclusivo.png" alt="Imagen grande">
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="carrusel-promociones">
            <div class="carrusel desktop">
                <img src="../images/promocion.png" alt="Promo Laptop 1">
                <img src="../images/promocion1.png" alt="Promo Laptop 2">
                <img src="../images/promocion2.png" alt="Promo Laptop 3">
                <img src="../images/promocion3.png" alt="Promo Laptop 4">
            </div>

            <div class="carrusel mobile">
                <img src="../images/prommovil.png" alt="Promo Mobile 1">
                <img src="../images/prommovil1.png" alt="Promo Mobile 2">
                <img src="../images/prommovil2.png" alt="Promo Mobile 3">
                <img src="../images/prommovil3.png" alt="Promo Mobile 4">
            </div>

            <div class="indicadores"></div>
        </section>

        <section class="seccion-rebajas">
            <h2 class="center">Lo mas vendido</h2>
            <div class="rebajas-wrapper">
                <button class="slider-btn left"><i class="fas fa-chevron-left"></i></button>
                <div class="rebajas-contenedor">
                    <div class="card-rebaja">
                        <img src="../images/roperoacegua.png" alt="Ropero Acegua 6 puertas">
                        <p class="marca">Politorno</p>
                        <h4 class="titulo">Ropero Acegua 6 puertas</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Politorno</span></p>
                        <div class="precios">
                            <span class="original">$397.00</span>
                            <span class="descuento">$238.20</span>
                            <span class="etiqueta-descuento">-40%</span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/muebledecocina.png" alt="Mueble de cocina">
                        <p class="marca">Politorno</p>
                        <h4 class="titulo">Mueble de cocina</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Politorno</span></p>
                        <div class="precios">
                            <span class="original">$519.00</span>
                            <span class="descuento">$311.40</span>
                            <span class="etiqueta-descuento">-40%</span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/tecitaly.png" alt="Tec Italy Due Faccetta Massimo 300ml">
                        <p class="marca">Tec Italy</p>
                        <h4 class="titulo">Tec Italy Due Faccetta Massimo 300ml</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Disprobe</span></p>
                        <div class="precios">
                            <span class="original">$29.90</span>
                            <span class="descuento">$20.58</span>
                            <span class="etiqueta-descuento">-30%</span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/pantalla.png" alt="Pantalla Hyundai 43 LED FHD HYLED4322GiM">
                        <p class="marca">Hyundai</p>
                        <h4 class="titulo">Pantalla Hyundai 43" LED FHD HYLED4322GiM</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Act.Cel</span></p>
                        <div class="precios">
                            <span><b>$269.00</b></span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/motocicletadayun.png" alt="Reloj Casio Análogo">
                        <p class="marca">Dayun</p>
                        <h4 class="titulo">Motocicleta Dayun 125</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Moto City</span></p>
                        <div class="precios">
                            <span class="original">$1,299.00</span>
                            <span class="descuento">$999.00</span>
                            <span class="etiqueta-descuento">-23%</span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                </div>

                <button class="slider-btn right"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>

        <section class="seccion-rebajas">
            <div class="rebajas-wrapper">
                <button class="slider-btn left"><i class="fas fa-chevron-left"></i></button>
                <div class="rebajas-contenedor">
                    <div class="card-rebaja">
                        <img src="../images/celularoppo.png" alt="Celular Oppo Reno 12 5G RAM 12GB+12GB">
                        <p class="marca">Oppo</p>
                        <h4 class="titulo">Celular Oppo Reno 12 5G RAM 12GB+12GB</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Oppo</span></p>
                        <div class="precios">
                            <span class="original">$599.00</span>
                            <span class="descuento">$469.20</span>
                            <span class="etiqueta-descuento">-22%</span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/kitrotuador.png" alt="Kit rotulador escolar Stamp Stick + 1 repuesto">
                        <p class="marca">Trodat</p>
                        <h4 class="titulo">Kit rotulador escolar Stamp Stick + 1 repuesto</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Prodina</span></p>
                        <div class="precios">
                            <span><b>$24.00</b></span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/impresora.png" alt="impresora WorkForce Pro WF-C5810">
                        <p class="marca">Epson</p>
                        <h4 class="titulo">impresora WorkForce Pro WF-C5810</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Tecno Avance</span></p>
                        <div class="precios">
                            <span><b>$579.00</b></span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/habitosatomicos.png" alt="Hábitos atómicos (Pasta dura) (edicion especial)">
                        <p class="marca">Paidos</p>
                        <h4 class="titulo">Hábitos atómicos (Pasta dura) (edicion especial)</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Internacional</span></p>
                        <div class="precios">
                            <span class="original">$42.95</span>
                            <span class="descuento">$32.21</span>
                            <span class="etiqueta-descuento">-25%</span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                    <div class="card-rebaja">
                        <img src="../images/bicicletalynx.png" alt="Bicicleta Lynx Control Dama R24">
                        <p class="marca">Lynx</p>
                        <h4 class="titulo">Bicicleta Lynx Control Dama R24"</h4>
                        <p class="vendido-por">Vendido por <span class="siman-red">Top Bikes</span></p>
                        <div class="precios">
                            <span class="original">$149.00</span>
                            <span class="descuento">$89.40</span>
                            <span class="etiqueta-descuento">-40%</span>
                        </div>
                        <button class="btn-carrito">Agregar al carrito</button>
                    </div>
                </div>

                <button class="slider-btn right"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>

        <section class="seccion-promocion">
            <div class="solo-desktop">
                <img src="../images/prom.png" alt="promocion">
            </div>

            <div class="solo-movil">
                <img src="../images/prommovil.png" alt="promocion móvil">
            </div>
        </section>

    </main>

    <footer class="footer">
        <div class="footer-container">
            <!-- Formulario de suscripción -->
            <div class="footer-subscribe">
                <h2><span class="siman-red">siman</span><span class="gray">.com</span></h2>
                <p>Suscríbete para obtener las mejores ofertas</p>
                <form class="subscribe-form">
                    <input type="email" placeholder="e-mail" required />
                    <button type="submit">Suscribirme</button>
                </form>
                <p>Mantente en contacto con nosotros</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/simanelsalvador" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/almacenessiman_sv/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/user/SimanElSalvador/" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="footer-section">
                <h4 class="section-title">SERVICIOS</h4>
                <ul class="services-list">
                    <li><a href="#">Cambios y devoluciones</a></li>
                    <li><a href="#">Seguimiento de pedido</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <li><a href="#">Facturación electrónica</a></li>
                    <li><a href="#">Centro de ayuda</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4 class="section-title">PROGRAMAS</h4>
                <ul class="services-list">
                    <li><a href="#">Monedero</a></li>
                    <li><a href="#">Certificados de Regalo</a></li>
                    <li><a href="#">Garantías</a></li>
                    <li><a href="#">Siman PRO</a></li>
                    <li><a href="#">Credisiman</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Vende en Marketplace</a></li>
                </ul>
            </div>

        </div>
    </footer>
    <script src="../js/exclusive.js"></script>
    <script src="../js/utilidades.js"></script>
</body>

</html>