<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../images/logoIco.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Ofertas Exclusivas Online</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="../images/SimanLogo.png" alt="Siman Logo">
            </div>

            <input type="text" name="Buscar" class="search-box" placeholder="Buscar...">

            <div class="icon">
                <a href="#" class="user-icon"><i class="fas fa-user"></i></a>
                <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <nav class="nav-bar">
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="rebajas.html">Rebajas</a></li>
                <li><a href="exclusivo.html">Exclusivo Online</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <div class="medium-section">
            <div class="row-layout">
                <div class="text-side">
                    <h3>Ofertas exclusivas online</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ipsam repellat
                        deserunt accusamus excepturi commodi exercitationem officiis
                    </p>
                </div>
                <div class="image-side">
                    <img src="../images/exclusivo.png" alt="Imagen grande">
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="carrusel-promociones">
            <div class="carrusel desktop">
                <img src="../images/promocion.png" alt="Promo Laptop 1">
                <img src="../images/promocion1.png" alt="Promo Laptop 2">
                <img src="../images/promocion2.png" alt="Promo Laptop 3">
                <img src="../images/promocion3.png" alt="Promo Laptop 4">
            </div>

            <div class="carrusel mobile">
                <img src="../images/prommovil.png" alt="Promo Mobile 1">
                <img src="../images/prommovil1.png" alt="Promo Mobile 2">
                <img src="../images/prommovil2.png" alt="Promo Mobile 3">
                <img src="../images/prommovil3.png" alt="Promo Mobile 4">
            </div>

            <div class="indicadores"></div>
        </section>

    </main>

    <footer class="footer">
        <div class="footer-container">
            <!-- Formulario de suscripción -->
            <div class="footer-subscribe">
                <h2><span class="siman-red">siman</span><span class="gray">.com</span></h2>
                <p>Suscríbete para obtener las mejores ofertas</p>
                <form class="subscribe-form">
                    <input type="email" placeholder="e-mail" required />
                    <button type="submit">Suscribirme</button>
                </form>
                <p>Mantente en contacto con nosotros</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/simanelsalvador" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/almacenessiman_sv/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/user/SimanElSalvador/" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="footer-section">
                <h4 class="section-title">SERVICIOS</h4>
                <ul class="services-list">
                    <li><a href="#">Cambios y devoluciones</a></li>
                    <li><a href="#">Seguimiento de pedido</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <li><a href="#">Facturación electrónica</a></li>
                    <li><a href="#">Centro de ayuda</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4 class="section-title">PROGRAMAS</h4>
                <ul class="services-list">
                    <li><a href="#">Monedero</a></li>
                    <li><a href="#">Certificados de Regalo</a></li>
                    <li><a href="#">Garantías</a></li>
                    <li><a href="#">Siman PRO</a></li>
                    <li><a href="#">Credisiman</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Vende en Marketplace</a></li>
                </ul>
            </div>

        </div>
    </footer>
    <script src="../js/exclusive.js"></script>
</body>

</html>