<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../images/logoIco.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Ofertas Exclusivas Online</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="../images/SimanLogo.png" alt="Siman Logo">
            </div>

            <input type="text" name="Buscar" class="search-box" placeholder="Buscar...">

            <div class="icon">
                <a href="#" class="user-icon"><i class="fas fa-user"></i></a>
                <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <nav class="nav-bar">
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="rebajas.html">Rebajas</a></li>
                <li><a href="exclusivo.html">Exclusivo Online</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <div class="medium-section">
            <div class="row-layout">
                <div class="text-side">
                    <h3>Ofertas exclusivas online</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ipsam repellat
                        deserunt accusamus excepturi commodi exercitationem officiis
                    </p>
                </div>
                <div class="image-side">
                    <img src="../images/exclusivo.png" alt="Imagen grande">
                </div>
            </div>
        </div>
    </header>
</body>

</html>